@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  -webkit-text-size-adjust: none;
  width: 100%;
  color: #666;
  font-size: 16px;
  font-family: 'Neue Haas Unica W01',Helvetica, Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック','MS PGothic',sans-serif; }

header {
  width: 100%;
  height: 600px;
  background: url(/images/bg.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #232584; }
  header p.logo {
    padding-top: 173px;
    height: 145px;
    margin-bottom: 40px; }
  header h1 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.0;
    font-weight: 300; }
    header h1 span {
      margin-top: 20px;
      display: block; }

#dswd1 header {
  background-image: url(/images/dswd1/head.jpg);
  text-align: left; }
  #dswd1 header p {
    padding-left: 60px; }
    #dswd1 header p.logo {
      padding-top: 177px; }
  #dswd1 header h1 {
    padding-left: 60px; }

#dswd2 header {
  background-image: url(/images/dswd2/head.jpg);
  text-align: center;
  color: #E5004F; }
  #dswd2 header p.logo {
    padding-top: 177px; }

#dswd3 header {
  background-image: url(/images/dswd3/head.jpg);
  text-align: center;
  color: #FFF; }
  #dswd3 header p.logo {
    padding-top: 177px; }

#dswd4 header {
  background-image: url(/images/dswd4/head.jpg);
  text-align: left;
  color: #FFF; }
  #dswd4 header p {
    padding-left: 60px; }
    #dswd4 header p.logo {
      padding-top: 177px; }
  #dswd4 header h1 {
    padding-left: 60px; }

#dswd5 header {
  background-image: url(/images/dswd5/head.jpg);
  text-align: left;
  color: #232584; }
  #dswd5 header p {
    padding-left: 60px; }
    #dswd5 header p.logo {
      padding-top: 40px; }
  #dswd5 header h1 {
    padding-top: 40px;
    padding-left: 60px; }

#dswd6 header {
  background-image: url(/images/dswd6/head.jpg);
  text-align: left;
  color: #232584; }
  #dswd6 header p {
    padding-left: 60px; }
    #dswd6 header p.logo {
      padding-top: 40px; }
  #dswd6 header h1 {
    padding-top: 40px;
    padding-left: 60px; }

#dswd7 header {
  background-image: url(/images/dswd7/head.jpg);
  text-align: left;
  color: #232584; }
  #dswd7 header p {
    padding-left: 60px; }
    #dswd7 header p.logo {
      padding-top: 40px; }
  #dswd7 header h1 {
    padding-top: 40px;
    padding-left: 60px; }

a {
  color: #232584;
  text-decoration: none; }
  a:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
  a.highlight {
    color: #E5004F; }
  a.current {
    color: #999; }

li {
  list-style: none; }

article {
  width: 840px;
  margin: 0px auto 80px auto; }
  article#welcome {
    width: 800px;
    padding: 60px 80px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: center; }
    article#welcome p {
      margin-bottom: 0px; }
  article#product {
    margin-top: 80px; }
  article#cuts {
    width: 960px; }
    article#cuts ul li {
      margin-bottom: 40px; }
      article#cuts ul li:last-child {
        margin-bottom: 0px; }
  article h2 {
    color: #333;
    margin-bottom: 40px;
    font-weight: 400; }
  article p {
    line-height: 1.8;
    margin-bottom: 40px; }
    article p:last-child {
      margin-bottom: 40px; }
  article ul {
    line-height: 1.0; }
    article ul.links {
      margin-top: 40px; }
      article ul.links li {
        margin-bottom: 20px;
        line-height: 1.8; }
        article ul.links li.disable {
          color: #999; }
      article ul.links:last-child {
        margin-bottom: 0px; }
    article ul.member, article ul.spec, article ul.detail {
      margin-top: 60px; }
      article ul.member li, article ul.spec li, article ul.detail li {
        margin-bottom: 20px; }
        article ul.member li:last-child, article ul.spec li:last-child, article ul.detail li:last-child {
          margin-bottom: 0px; }
        article ul.member li div, article ul.spec li div, article ul.detail li div {
          vertical-align: top;
          line-height: 1.8;
          display: inline-block; }
          article ul.member li div.name, article ul.spec li div.name, article ul.detail li div.name {
            width: 190px; }
          article ul.member li div.url, article ul.spec li div.url, article ul.detail li div.url {
            width: 190px; }
    article ul.spec li div {
      width: 645px; }

nav {
  width: 1200px;
  margin: 40px auto;
  overflow: hidden; }
  nav ul {
    position: relative;
    left: 50%;
    float: left; }
    nav ul li {
      line-height: 1.0;
      position: relative;
      left: -50%;
      float: left;
      margin-right: 17px; }
      nav ul li:last-child {
        margin-right: 0px; }

footer {
  width: 960px;
  margin: 0px auto 0px auto;
  text-align: center;
  font-size: 12px;
  padding: 40px 0px 80px 0px;
  border-top: 1px solid #DDD;
  font-weight: 700; }

/*
clearfix
 */
.clearfix {
  zoom: 1; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }
