* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
    width: 100%;
    color: #666;
    font-size: 16px;
    font-family: 'Neue Haas Unica W01',Helvetica, Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

header{
    width: 100%;
    height: 600px;
    background: url(/images/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #232584;
    p{
        &.logo{
            padding-top: 173px;
            height: 145px;
            margin-bottom: 40px;
        }
    }
    h1{
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 1.0;
        font-weight: 300;
        span{
            margin-top: 20px;
            display: block;
        }
    }
}

a{
    color: #232584;
    text-decoration: none;
    &:hover{
        opacity: 0.5
    }
    &.highlight{
        color:#E5004F;
    }
}

li{
    list-style: none;
}

article,footer{
    width: 840px;
    margin: 0px auto 80px auto;
    &#welcome{
        width: 660px;
        padding: 60px 80px;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
    }
    h2{
        margin-bottom: 40px;
        font-weight: 400
    }
    p{
      line-height: 1.5;
    }
    ul{
        line-height: 1.0;
        &.links{
            margin-top: 40px;
            li {
                margin-bottom: 20px;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
        &.member{
            margin-top: 60px;
            li {
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0px;
                }
                div{
                    display: inline-block;
                    &.name{
                        width: 200px;
                    }
                    &.url{
                        width: 200px;
                    }
                    &.role{
                        width: 7
                        00px;
                    }
                }
            }
        }
    }
}

nav{
    width: 840px;
    margin: 40px auto;
    overflow: hidden;
    ul{
        position:relative;
        left:50%;
        float:left;
        li{
            line-height: 1.0;
            position:relative;
            left:-50%;
            float:left;
            margin-right: 40px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}

footer{
    width: 840px;
    margin: 0px auto 0px auto;
    text-align: center;
    font-size: 12px;
    padding: 40px 0px 80px 0px;
    border-top: 1px solid #DDD;
    font-weight: 700;
}

/*
clearfix
 */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}